<!DOCTYPE html>
<html>
<head>
<title>Panel de Control Focos Home</title>
</head>
<body>
	<header><h1>Control Focos Home</h1></header>
	<section class="container">
		<article class="column">
			<header><h2>Focos Encender</h2></header>
			<form method="POST" action="{{url_for('Encender')}}">
			<input type="submit" name="Encender" value="Foco1"></input>
			<input type="submit" name="Encender" value="Foco2"></input>
			<input type="submit" name="Encender" value="Foco3"></input>
			<input type="submit" name="Encender" value="Foco4"></input>
			<input type="submit" name="Encender" value="Foco5"></input>
			<input type="submit" name="Encender" value="Foco6"></input>
			<button>Atenuacion</button>
			</form>
		</article>
		<article class="column">
			<header><h2>Focos Apagar</h2></header>
			<form method="POST" action="{{url_for('Apagar')}}">
			<input type="submit" name="Apagar" value="Foco1"></input>
			<input type="submit" name="Apagar" value="Foco2"></input>
			<input type="submit" name="Apagar" value="Foco3"></input>
			<input type="submit" name="Apagar" value="Foco4"></input>
			<input type="submit" name="Apagar" value="Foco5"></input>
			<input type="submit" name="Apagar" value="Foco6"></input>
			</form>
		</article>
			<header><h2>Menu</h2></header>
			<article class="column">
			<form method="POST" action="{{url_for('index')}}">
			<input type="submit" name="menu" value="menu"></input>
			</form>
			</article>

	</section>
</body>
</html>
