<!-- Proyecto Final Sistemas Embebidos -->
<!-- Smart Home Panel Menu -->
<!-- Autores: Hernández Hernández Alonso de Jesús -->
<!-- 					Alvarado García Jose Manuel -->
<!-- Fecha: 23 de Mayo del 2022 -->
<!DOCTYPE html>
<html>
<head>
<!-- Panel de Control de Menu -->
<title>Menu Smart Home</title>
</head>
<body>
<!-- Botones  -->
	<header><h1>Menu Smart Home</h1></header>
	<section class="container">
		<article class="column">
			<!-- Declaramos metodo POST y accion formulario en la seccion simulador-->
			<form method="POST" action="{{url_for('simulador')}}">
			<!-- Boton enviar a formulario en sección Encender-->
			<input type="submit" name="simulador" value="simulador"></input>
			</form>
		</article>
		<article class="column">
			<!-- Declaramos metodo POST y accion formulario en la seccion focos-->
			<form method="POST" action="{{url_for('focos')}}">
			<input type="submit" name="focos" value="focos"></input>
			</form>
		</article>
		<article class="column">
			<!-- Declaramos metodo POST y accion formulario en la seccion camaras-->
			<form method="POST" action="{{url_for('camaras')}}">
			<input type="submit" name="camaras" value="camaras"></input>
			</form>
		</article>
		<article class="column">
			<!-- Declaramos metodo POST y accion formulario en la seccion timbre-->
			<form method="POST" action="{{url_for('timbre')}}">
			<input type="submit" name="timbre" value="timbre"></input>
			</form>
		</article>
		<article class="column">
			<!-- Declaramos metodo POST y accion formulario en la seccion clock-->
			<form method="POST" action="{{url_for('Clock')}}">
			<input type="submit" name="clock" value="temporizador"></input>
			</form>
		</article>
	</section>
</body>
</html>
