<!DOCTYPE html>
<html>
<head>
<title>Panel de Control Focos Home</title>
</head>
<body>
	<header><h1>Control Focos Home</h1></header>
	<section class="container">
		<article class="column">
			<header><h2>Focos Encender</h2></header>
			<button>Cuarto 1 Encender</button>
			<button>Cuarto 2 Encender</button>
			<button>Cuarto 3 Encender</button>
			<button>Sala Encender</button>
			<button>Cocina Encender</button>
			<button>Bano Encender</button>
			<button>Atenuacion</button>
		</article>
		<article class="column">
			<header><h2>Focos Apagar</h2></header>
			<button>Cuarto 1 Apagar</button>
			<button>Cuarto 2 Apagar</button>
			<button>Cuarto 3 Apagar</button>
			<button>Sala Apagar</button>
			<button>Cocina Apagar</button>
			<button>Bano Apagar</button>
		</article>

	</section>
</body>
</html>
