<!DOCTYPE html>
<html>
<head>
<title>Panel de Control Focos Home</title>
</head>
<body>
	<header><h1>Control Timbre Grage Home</h1></header>
	<section class="container">
		<article class="column">
			<header><h2>Timbre</h2></header>
			<input type="submit" name="Ring" value="Ring" onclick="Timbre()"></input>
		</article>
		<article class="column">
			<header><h2>Garage Open</h2></header>
			<form method="POST" action="{{url_for('Open')}}">
			<input type="submit" name="GarageO" value="Garage"></input>
			</form>
		</article>
		<article class="column">
			<header><h2>Garage Close</h2></header>
			<form method="POST" action="{{url_for('Close')}}">
			<input type="submit" name="GarageC" value="Garage"></input>
			</form>
		</article>
		<article class="column">
			<form method="POST" action="{{url_for('index')}}">
			<input type="submit" name="menu" value="menu"></input>
			</form>
		</article>
	</section>
</body>
  <script src='static/main.js'></script> 
</html>
