<!DOCTYPE html>
<html>
<head>
<title>Camaras Control Panel</title>
</head>
<body>
	<header><h1>Controles</h1></header>
	<section class="container">
		<article class="column">
			<header><h2>Camaras de Seguridad</h2></header>
			<iframe id="inlineFrameExample"
				title="Inline Frame Example"
				width="500"
				height="500"
				src="http://192.168.1.232:4747/video">
			</iframe>
			<form method="POST" action="{{url_for('Camara1')}}">
			<input type="submit" name="Camara1" value="Camara1"></input>
			</form>
			<iframe id="inlineFrameExample"
				title="Inline Frame Example"
				width="500"
				height="500"
				src="http://192.168.1.156:4747/video">
			</iframe>
			<form method="POST" action="{{url_for('Camara2')}}">
			<input type="submit" name="Camara2" value="Camara2"></input>
			</form>
			<header><h2>Menu</h2></header>
			<article class="column">
			<form method="POST" action="{{url_for('index')}}">
			<input type="submit" name="menu" value="menu"></input>
			</form>
		</article>
		</article>

	</section>
</body>
</html>
